// Place all the styles related to the Magazine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.magazine{
  background-image:url('4.jpg');

  #header .container-fluid {
    background-image: url('menu_1.png');
  }

  #header li a:hover{
      color:#333;
      opacity:0.5;
    }

  #header .active a:hover{
    color:#ff2f78;
    opacity:1;
  }

}

.divide{
  margin-top:15px;
}

.divide img{
	min-width:60%;
}

.col-md-2 .price{
  margin-top:64px;
}

.to_cart{
  text-align:right;
  margin-right:10px;
}