body {
  color: #333;
  background-repeat:round;
  width:1318px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top:15px;
  margin-left:24px;
  padding-bottom:15px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1{
  margin-top:0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a{
  color:inherit;
  font-style:italic;
  font-size:24px;
  font-weight: bold;
  &:visited{
    color:inherit;
  }
  &:hover{
    color:#c1e2b3;
    text-decoration:none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  color: red;
  font-weight: bold;
}

#error_explanation li{
    color: white;
    font-size:12px;
    margin:0;
    font-weight: bold;
}

.centerify{
  text-align: center;
}

.window .row{
  border:0px;
  margin-bottom:15px;
}

.container-fluid{
  padding:0;
  margin-right:0;
  line-height:29px;
}

.window .container-fluid{
  background-image: url('4.jpg');
  background-repeat: round;
  border:2px;
  margin-top:24px;
  border-color:#000;
  border-style:solid;
}

.spacedown{
  margin-bottom:25px;
  margin-top:10px;
}

.spacedown h1{
  padding-top:8px;
}

.buttons{
  padding-bottom:10px;
}

#header ul{
  padding-top:12px;
}

#header li {
  margin-right: 32px;
}

#header .active {
  a {
    background-color: #333;
  };
}

#header .container-fluid {
  background-image: url('menu_1.png');
}

#header .buying {
  padding: 3px;
}

#header li a:hover{
  color:#333;
  opacity:0.5;
}

#header .active a:hover{
  color:#ff2f78;
  opacity:1;
}

#header .container-fluid{
  padding-top:8px;
  padding-bottom:8px;
}

#footer a{
  font-style:normal;
  font-size:12px;
}

#footer h1{
  font-style:italic;
  font-size:12px;
}

.notice h1{
  font-size:16px;
  font-style:italic;
  margin-bottom:0;
  padding-bottom:8px;
  color:#b73b5f;
  font-weight:bold;
}

.window{
  margin-top:54px;
}

.pagination *{
  font-size:14px;
}

.pagination .current{
  text-decoration: underline;
}

.pagination a{
  font-weight: normal;
}

.pagination .previous_page{
  font-weight:bold;
}

.pagination .next_page{
  font-weight:bold;
}

.pages{
  text-align:right;
  margin-right:75px;
}